<div class="middle-section">
    <div class="widget">

        <app-highchart></app-highchart>
    </div>
</div>
<div class="middle-section">
    <div class="widget2">
        <app-add (accion)="collatz($event)" [array_values]="array_values" [NumberValue]="NumberValue"></app-add>
    </div>
</div>


<div class="position-relative" style="width: 17rem;right: 19rem; bottom: 48rem;">
    <table class="table text-white">
        <thead class="thead-ligth">
            <tr style="border-width: 0px 0px 1px 0px;">
                <th scope="col">Valores en ejecución</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let NumberValue of array_values">
                <td> 
                    {{NumberValue}}
                </td>
                <td> <!--Boton de ocultar-->
                    <button class="btn btn-outline-dark" type="button" id="button-addon2"><i class="fa-solid fa-eye-slash"></i></button>
                </td>
                <td><!--Boton de borrar elemento-->
                    <button (click)="onDelete()" class="btn btn-outline-danger" type="button" id="button-addon2"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
