<div class="alert alert-success" role="alert" style="height: 300px;">
    <h4 class="alert-heading">Agregar Valores a la gráfica</h4>
    <p>La conjetura de Collatz dice que, sea cual sea el número x inicial, tras un número finito de repeticiones de la operación se llega a 1.</p>
    <ul>
        <li>Si el número es par, se divide entre 2.</li>
        <li>Si el número es impar, se multiplica por 3 y se suma 1.</li>
    </ul>
    <hr>

    <div class="input-group mb-1 p-4">
    <input type="number" class="form-control prueba" placeholder="Ingresa un valor a ser evaluado" [(ngModel)]="NumberValue">
    <button (click)="add()" class="btn btn-outline-success" [disabled]="NumberValue > 0 ? false : true" type="button" id="button-addon2">Add</button>
  </div>

</div> 